[submodule "bundle/html5"]
	path = bundle/html5
	url = git://github.com/othree/html5.vim.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/vim-protobuf-syntax"]
	path = bundle/vim-protobuf-syntax
	url = https://github.com/jdevera/vim-protobuf-syntax.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
