do you think we'll feel whole five yrs from now wherever we end up?
would you and I be happier if i just let it all go?

i suppose so, but i dont rly know.

wish i knew what you were thinking.

*.swp
.netrwhist
bundle/
